.cardDivStyle {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, 200px);
}

.cardStyle {
  width: 200px;
  height: 200px;
  align-content: center;
  border: solid black 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgSize {
  max-width: 150px;
  max-height: 150px;
}
